/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


nav {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  font-family: sans-serif;
}

nav ul li {
  float: right;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding-left: 15px;
}

h1 {
  /*margin-top: 100px;*/
  font-family: sans-serif;
}

.container {
  /*margin-top: 50px;*/
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.login_form {
  background-color: #cccccc;
  width: 200px;
  padding: 20px;
  font-family: sans-serif;
}

.container {
  /*margin-top: 50px;*/
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  font-family: sans-serif;
}

.login_form {
  background-color: #cccccc;
  width: 200px;
  padding: 20px;
  font-family: sans-serif;
}

.profile_questions {
  margin-top: 100px;
}

.submit_question {
  margin-top: 30px;
  background-color: green;
  width: 135px;
  padding: 5px;
}

.question_form {
  padding-top: 30px;
  clear: both;
}

.submit_question a {
  color: white;
}

a {
  text-decoration: none;
}

/** {
  border: 1px solid gray;
}

*/
